@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/* Navbar */
.logo {
    font-weight: bold;
    font-size: 2rem;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    transition: 0.3s;
    z-index: 9999;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 20px 0px;
}
li {
    list-style-type: none;
}
li a {
    color: white;
    margin: 10px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.n {
    color: black;
}
.n::placeholder {
    color: black;
}
.n:focus {
   outline: none;
    border: none;
}
.btn {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid;
    margin: 5px;
    text-decoration: none;
    color: white;
}
.register {
    background-color: white;
    color: black;
    transition: 0.2s;
    border: 1px solid white;
}
.register:hover {
    background-color: transparent;
    border: 1px solid;
    color: white;
}
.login {
    transition: 0.2s;
    border: none;
}
.login:hover {
    background-color: white;
    color: black;
}

/* Hero */
#hero {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 90vh;
}
.hero_section {
    width: 99%;
    border-radius: 20px;
    background-image: url('/storage/image/umbanner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
}
.isi-hero {
    padding: 20px;
    width: 100%;
    color: white;
}
.isi-hero h1 {
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 2.7rem;
}
.filter{
    color: white;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.ff {
    display: flex;
    width: 100%;
    gap: 30px;
}
.f {
    width: 100%;
}
.f label {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.f input {
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgba(184, 179, 179, 0.473);
    padding: 0px 10px;
}

.f input::placeholder {
    color: white;
     font-weight: bold;
}
.filter button {
   border: none;
   background-color: rgb(34, 6, 6);
   color: white;
   padding: 13px 30px;
   border-radius: 30px;
}
.f {
    display: flex;
    flex-direction: column;
}
.filter-kategori {
    display: flex;
    align-items: center;
    gap: 10px;
}
.filter-kategori p {
   letter-spacing: 1px;
}
.filter-terapkan {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kategori {
    border: 1px solid rgba(255, 255, 255, 0.527);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.kategori:hover {
    background-color: rgb(34, 6, 6);
    border: 0.4px solid rgb(34, 6, 6);
    color: white;
}
/* Beranda */
.beranda {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 99.9%;
    margin-top: 30px;
}
.kata {
    padding: 30px 100px;
    align-self: flex-start;
}
.kata span {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 2rem;
}
.kata p {
    margin-top: 10px;
   font-weight: 300;
}
.eror {
    color: red;
}
/* Card */
.penataan {
    width: 90%;
    height: 80%;
    display: grid;
    justify-items: center;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
}
.kartu {
    width: 90%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    display: flex;
    flex-direction: column;
}

.kartu:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.banner {
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-radius: 20px;
}

.deskripsi {
    padding: 5px 0;
}

.deskripsi span {
    background-color: rgb(220, 227, 245);
    border-radius: 4px;
    padding: 3px 5px;
    color: #606063;
    font-size: 12px;
    margin-left: 10px;
}

.deskripsi h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.deskripsi p {
    padding-top: 7px;
    font-size: 1-px;
    font-weight: 400;
    color: #088178;
    margin-left: 20px;
}
.kartu a {
   align-self: flex-end;
   text-decoration: none;
   margin: 10px;
}
.judul  {
    margin: 10px;
    display: flex;
   align-items: center;
   gap: 20px;
}
.judul img {
    width: 40px;
}


  @media (max-width: 1024px) {
    .penataan {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 600px) {
    .penataan {
      grid-template-columns: 1fr;
    }
  }
.profile {
    font-family: "Faculty Glyphic", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.kiri {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
}
.detail_profile {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    background-color: white;
    box-shadow: 2px 3px 10px 1px rgba(110, 109, 109, 0.363);
    border-radius: 10px;
}
.profile_picture {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    object-fit: cover;
}
.kanan {
    display: flex;
    gap: 20px;
}
.kan {
    border: 1px solid rgba(184, 181, 181, 0.253);
    border-radius: 5px;
    padding: 10px 20px;
}
.logout {
    background-color: rgba(255, 0, 0, 0.589);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.bawah {
    padding: 20px;
    height: 60vh;
    width: 80%;
    box-shadow: 2px 3px 10px 1px rgba(110, 109, 109, 0.699);
    border-radius: 10px;
    background-color: white;
}
.name_role {
    display: flex;
    gap: 10px;
}
.role {
    border-radius: 20px;
    border: 1px solid orange;
    color: rgb(150, 99, 5);
}
.pe {
    color: rgba(128, 128, 128, 0.836);
}
.image_profile{
    box-shadow: 1px 1px 5px 1px rgba(136, 133, 133, 0.733);
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

